@font-face {
  font-family: 'iconfont'; /* project id 1613939 */
  src: url('//at.alicdn.com/t/font_1613939_ssygryyxa2.eot');
  src: url('//at.alicdn.com/t/font_1613939_ssygryyxa2.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1613939_ssygryyxa2.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1613939_ssygryyxa2.woff') format('woff'),
    url('//at.alicdn.com/t/font_1613939_ssygryyxa2.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1613939_ssygryyxa2.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-list:before {
  content: '\e747';
}

.icon-search:before {
  content: '\e8b9';
}
.icon-back:before {
  content: '\e755';
}
.icon-delete:before {
  content: '\e748';
}
.icon-listen:before {
  content: '\e756';
}
.icon-down:before {
  content: '\e7b2';
}
.icon-seq:before {
  content: '\e614';
}
.icon-loop:before {
  content: '\e613';
}
.icon-random:before {
  content: '\e60f';
}
.icon-next:before {
  content: '\e610';
}
.icon-prev:before {
  content: '\e60d';
}
.icon-pause:before {
  content: '\e612';
}
.icon-play:before {
  content: '\e60e';
}
.icon-like:before {
  content: '\e611';
}
.icon-mini-play:before {
  content: '\e6b0';
}
.icon-mini-stop:before {
  content: '\e6ae';
}
